:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.conversion-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  background: #f9f9f988;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 100px;
}

.conversion-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.conversion-title-h3 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #555;
  text-align: center;
}

.conversion-select {
  display: flex;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9rem;
  transition: border-color 0.3s ease;
  border-color: #4e59ec;
  box-shadow: 0 0 5px rgba(78, 89, 236, 0.3);
}

.conversion-input {
  display: flex;
  width: 100%;
  max-width: 10rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9rem;
  transition: border-color 0.3s ease;
  border-color: #4e59ec;
  box-shadow: 0 0 5px rgba(78, 89, 236, 0.3);
}
.conversion-buttons {
  display: flex;
  gap: 0.725rem;
}

.btn {
  padding: 0.525rem 0.8rem;
  font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 0.25rem; /* 4px */
  cursor: pointer;
  transition: background-color 0.3s;
}

.convert-btn {
  background-color: #28a745;
  transform: translateY(-2px);
}

.clean-btn {
  background-color: #dc3545;
  transform: translateY(-2px);
}
.print-btn {
  background-color: #110df5;
  transform: translateY(-2px);
}

.btn:hover {
  transform: translateY(-4px);
}
.btn:active {
  transform: scale(1);
}
/* Mensagens */
.error-message {
  color: #ddd;
  font-size: 0.9rem;
}

.rate-info {
  font-size: 1rem;
  color: #333;
}

/* Tabela de produtos convertidos */
.conversion-table {
  width: 80%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden; /* Garante que o arredondamento funcione */
}

.conversion-table th,
.conversion-table td {
  border: 0.0425rem solid #ddd; /* 1px */
  padding: 0.425rem; /* 10px */
  padding: 5px;
  text-align: center;
}
.conversion-table td {
  font-size: 12px;
}
.conversion-table th {
  background-color: #4e59ec;
  border-radius: 0.1rem;
  font-size: 13px;
  color: white;
  font-weight: bold;
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  letter-spacing: 0.5px; /* Espaçamento entre letras */
  z-index: 2; /* Mantém os títulos acima dos dados */
}
.conversion-table tbody tr {
  transition: background-color 0.3s ease-in-out;
}
.conversion-table tbody tr:hover {
  background-color: #dddcdc;
}

@media (max-width: 768px) {
  .conversion-title,
  .converted-title {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  .conversion-input {
    max-width: 100%;
  }

  .conversion-table th,
  .conversion-table td {
    font-size: 0.8rem;
    padding: 8px;
  }
  .conversion-container {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

@media (max-width: 576px) {
  .conversion-title,
  .converted-title {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 0.5rem;
    padding: 5px 10px;
  }

  .conversion-controls {
    flex-direction: column;
    gap: 10px;
  }

  .conversion-table th,
  .conversion-table td {
    font-size: 0.5rem;
    padding: 0.5rem;
  }
}
