/* Footer */
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #305894;
  color: white;
  padding: 0.4rem 0;
  z-index: 10;
}

/* Texto do footer */
.container-footer p {
  margin: 0; /* Remove margens padrão */
  font-size: 0.7rem; /* Tamanho de fonte mais confortável */
  text-align: center;
}

/* Links dos ícones */
.container-footer a {
  display: flex;
  align-items: center;
  margin-left: 1rem; /* Espaço entre o texto e os ícones */
  color: white;
  font-size: 1.8rem;
  transition: transform 0.3s ease; /* Animação ao passar o mouse */
  text-decoration: none;
}

.container-footer a:hover {
  transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
  color: #f0f0f0;
}

/* Responsividade para telas pequenas */
@media (max-width: 576px) {
  .container-footer {
    flex-direction: column; /* Coloca itens em coluna para telas pequenas */
    text-align: center; /* Centraliza o texto */
    justify-content: center;
    padding: 0.5rem; /* Ajusta o padding para telas menores */
  }

  .container-footer p {
    font-size: 0.5rem;
    margin: 0.5rem 0;
  }

  .container-footer a {
    margin-left: 0; /* Remove margem esquerda */
    margin-top: 0.3rem; /* Adiciona espaço entre os ícones verticalmente */
    font-size: 2rem; /* Aumenta o tamanho dos ícones */
  }
}

/* Responsividade para telas médias (por exemplo, de 360px a 576px) */
@media (min-width: 320px) and (max-width: 576px) {
  .container-footer {

    flex-direction: row; /* Coloca os itens em linha para telas médias */
    padding: 0.5rem;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
  }

  .container-footer p {
    font-size: 0.6rem;
    margin-right: 1px;
  }

  .container-footer a {
    margin-left: 0.5rem; /* Espaço entre os ícones */
    font-size: 1.1rem;
    align-items: center;
    align-content: center;

  }
}
