:root {
  font-size: 16px;
  --primary-color: #4a90e2;
  --success-color: #4caf50;
  --error-color: #f44336;
  --bg-color: #f9f9f9;
  --font-color: #333;
  --border-color: #9b9595;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e7e5e5;
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

.formProducts-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  background: #f9f9f993;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 60px;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 colunas por linha */
  gap: 0.4rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
  align-items: center;
}

.input-field,
.select-field,
.input-field-IPI {
  font-size: 0.875rem;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  box-sizing: border-box;
  max-width: 100%;
}

.input-field {
  grid-column: span 1;
}

.select-field {
  grid-column: span 1;
  justify-items: center;
  text-align: center;
  width: 100px;
}

.submit-button {
  grid-column: span 4;
  padding: 0.5rem;
  max-width: 50%;
  font-size: 0.975rem;
  text-align: center;
  justify-self: center;
  border: none;
  border-radius: 4px;
  background-color: var(--success-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 30px;
}

.submit-button:hover {
  background-color: #3e8e41;
  transform: translateY(-4px);
}

.submit-button:active {
  transform: scale(0.98);
}
.container-msg{
  grid-column: span 4;
  justify-self: center;
}
.error-message,
.success-message {
  text-align: center;
  padding: 30px;
  font-size: 0.75rem;
  max-width: 100%;
  padding: 0.7rem;
  border-radius: 4px;
  opacity: 70%;
}

.error-message {
  background-color: var(--error-color);
  color: #fff;
}

.success-message {
  background-color: var(--success-color);
  color: #fff;

}

/* Responsividade */
@media (max-width: 768px) {
  .form-container {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas por linha */
    gap: 0.7rem;
    justify-content: center;
  }

  .input-field,
  .submit-button {
    grid-column: span 2; /* Ocupa toda a largura da linha */
    width: 100%;
  }
  .input-field-IPI {
    width: 60px;
  }
  .error-message,
  .success-message {
    grid-column: span 2;
  }
}

@media (max-width: 576px) {
  .form-container {
    grid-template-columns: 1fr; /* 1 coluna por linha */
    justify-items: center;
  }

  .input-field,
  .submit-button {
    grid-column: span 1; /* Ocupa toda a largura */
    width: 100%;
  }
  .select-field {
    width: 50%;
    justify-content: center;
  }

  .error-message,
  .success-message {
    grid-column: span 1;
  }

  .submit-button {
    max-width: 70%;
    margin: 1rem 0;
    justify-content: center;
  }
}
