.header {
  color: white;
  padding: 5px 15px;
  font-size: 5rem;
}
.container-title-register{

  
}
.logi-title {
  color: #3498db; /* Azul para tecnologia */
  position: relative;
  display: inline-block;
  animation: slideLogi 3s ease-in-out infinite;
}

/* Estilo para Box */
.box-title {
  color: #e74c3c; /* Vermelho para dinamismo */
  position: relative;
  display: inline-block;
  animation: bounceBox 3s ease-in-out infinite, boxGlow 3s ease-in-out infinite;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Animações */
@keyframes boxAppear {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes boxGlow {
  0% {
    text-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
  }
  50% {
    text-shadow: 0 0 15px rgba(231, 76, 60, 0.8);
  }
  100% {
    text-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
  }
}

@keyframes slideLogi {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes bounceBox {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
/* Responsividade */
@media (max-width: 775px) {
  .header {
    padding: auto;
  }
  .header-content {
    font-size: 1rem;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .header {
    padding: auto;
  }
  .header-content {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .header {
    padding: auto;
    padding: 0.3rem;
  }
  .title-header{
font-size: 0.8rem;

  }
  .header-content {
    flex-direction: column;
    text-align: center;
  }
}
