/* Container principal para a tabela */
.product-table-list {
  width: 90%; /* Ocupa a maior parte da largura da tela */
  border-collapse: collapse; /* Remove os espaços entre as bordas */
  font-size: 1.0rem; /* Texto ajustável para telas menores */
  background-color: #f9f9f9; /* Cor de fundo padrão */
  margin: 0 auto; /* Centraliza a tabela */
  table-layout: auto; /* Ajusta automaticamente o tamanho das colunas */
}

.lista-container {
  width: 100%;
  overflow-x: auto; /* Para garantir que o conteúdo não quebre o layout */
}

/* Títulos e descrições */
h1 {
  text-align: center; /* Centraliza o título */
  font-size: 1.3rem; /* Tamanho padrão para o título */
  margin-bottom: 1rem; /* Espaçamento abaixo do título */
}

.description-table-list {
  font-size: 0.8rem;
  color: #000000;
  font-weight: bolder;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}
/* styles.css */
/* Estilo global da página */
.page-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Título da página */
.page-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Mensagem de carregamento */
.loading-message {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 50px;
}

/* Estilo do contêiner da tabela */
.table-container {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
/* Estilo para células e títulos */
.product-table-list th,
.product-table-list td {
  width: 10%;
  border: 0.0425rem solid #ddd; 
  text-align: center; 
  vertical-align: middle; /* Centraliza o texto verticalmente */
  word-wrap: break-word; /* Quebra palavras longas para evitar overflow */
}

.product-table-list th {
  background-color: #4e59ec; /* Fundo azul para cabeçalhos */
  color: white; /* Texto branco para contraste */
  font-weight: bold; /* Destaca os cabeçalhos */
  border-radius: 0.1rem;
}

.product-table-list tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.product-table-list tr:hover {
  background-color: #ddd;
}

/* Estilo para inputs e selects */
.input-edit-select {
  width: 50px;
  font-size: 0.9rem;
  justify-content: baseline;
}

.input-edit {
  width: 60%;
  font-size: 0.8rem;
  text-align: center;
}

.input-edit-ipi {
  width: 30%;
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  align-content: center;
}

/* Estilo para botões */
.lista-container button {
  font-size: 0.8rem; 
  padding: 0.4rem 0.95rem; 
  border: none; /* Remove bordas padrão */
  border-radius: 0.25rem;
  margin-right: 3px;
  cursor: pointer;
  transition: background-color 0.3s; /* Suaviza a mudança de cor ao passar o mouse */
  margin-bottom: 10px;
}

.lista-container button:first-child {
  background-color: #2196f3; 
  color: rgb(44, 6, 6);
}

.lista-container button:last-child {
  background-color: #db1d10; 
  color: white;
}

.lista-container button:hover {
  filter: brightness(90%); /* Escurece a cor ao passar o mouse */
}


.product-table-list {
  width: 90%; /* Ocupa a maior parte da largura da tela */
  border-collapse: collapse; /* Remove os espaços entre as bordas */
  font-size: 1.0rem; /* Texto ajustável para telas menores */
  background-color: #f9f9f9; /* Cor de fundo padrão */
  margin: 0 auto; /* Centraliza a tabela */
  table-layout: auto; /* Ajusta automaticamente o tamanho das colunas */
}

.lista-container {
  width: 100%;
  overflow-x: auto; /* Para garantir que o conteúdo não quebre o layout */
}

/* Títulos e descrições */
h1 {
  text-align: center; /* Centraliza o título */
  font-size: 1.3rem; /* Tamanho padrão para o título */
  margin-bottom: 1rem; /* Espaçamento abaixo do título */
}

.description-table-list {
  font-size: 0.8rem;
  color: #000000;
  font-weight: bolder;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}

/* Estilo para células e títulos */
.product-table-list th,
.product-table-list td {
  width: 10%;
  border: 0.0425rem solid #ddd; 
  text-align: center; 
  vertical-align: middle; /* Centraliza o texto verticalmente */
  word-wrap: break-word; /* Quebra palavras longas para evitar overflow */
}

.product-table-list th {
  background-color: #4e59ec; /* Fundo azul para cabeçalhos */
  color: white; /* Texto branco para contraste */
  font-weight: bold; /* Destaca os cabeçalhos */
  border-radius: 0.1rem;
}

.product-table-list tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.product-table-list tr:hover {
  background-color: #ddd;
}

/* Estilo para inputs e selects */
.input-edit-select {
  width: 50px;
  font-size: 0.9rem;
}

.input-edit{
  width: 50%;
  font-size: 0.8rem;
  text-align: center;
}

.input-edit-ipi {
  width: 10%;
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  align-content: center;
}

/* Estilo para botões */
.lista-container button {
  font-size: 0.5rem; 
  padding: 0.4rem 0.95rem; 
  border: none; /* Remove bordas padrão */
  border-radius: 0.25rem;
  margin-right: 3px;
  cursor: pointer;
  transition: background-color 0.3s; /* Suaviza a mudança de cor ao passar o mouse */
  margin-bottom: 10px;
}

.lista-container button:first-child {
  background-color: #2196f3; 
  color: rgb(44, 6, 6);
}

.lista-container button:last-child {
  background-color: #db1d10; 
  color: white;
}

.lista-container button:hover {
  filter: brightness(90%); /* Escurece a cor ao passar o mouse */
}

/* Ajuste para colunas específicas */
td:nth-child(4),
th:nth-child(4),
td:nth-child(5),
th:nth-child(5),
td:nth-child(6),
th:nth-child(6),
td:nth-child(7),
th:nth-child(7),
td:nth-child(8),
th:nth-child(8),
td:nth-child(9),
th:nth-child(9) {
  width: 10%; /* Define a largura */
  text-align: center; /* Alinhamento */
}

/* Tablets e smartphones (até 768px) */
@media (max-width: 768px) {
  .product-table-list {
    font-size: 0.3rem; /* Ajusta o tamanho do texto */
    overflow-x: auto; /* Permite scroll horizontal */
  }

  .product-table-list th,
  .product-table-list td {
    padding: 0.25rem; /* Reduz o espaçamento interno */
  }

  .description-table-list {
    font-size: 0.5rem;
    word-wrap: break-word;
  }

  .lista-container button {
    display: flex;
    flex-direction: row;
    font-size: 0.2rem; 
    padding: 0.3rem 0.35rem; /* Reduz o tamanho do botão */
  }
  .input-edit-select {
    width: 35px;
    font-size: 0.4rem;
  }
  
  .input-edit {
    width: 60%;
    font-size: 0.45rem;
    text-align: center;
  }
  
  .input-edit-ipi {
    width: 20%;
    margin: 0;
    font-size: 0.6rem;
    text-align: center;
    align-content: center;
  }
}


/* Smartphones muito pequenos (até 576px) */
@media (max-width: 576px) {
  .product-table-list {
    width: 80%;
  }

  input {
    width: 50%;
    font-size: 0.2rem;
  }

  select {
    font-size: 0.48rem;
  }

  .checkbox-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .input-edit-ipi {
    font-size: 8px;
    width: 10px;
  }

  button {
    display: flex;
    flex-direction: row;
    font-size: 0.2rem;
    padding: 0.2rem 0.4rem;
  }

  .product-table-list th,
  .product-table-list td {
    padding: 0.17rem; /* Reduz ainda mais o espaçamento */
  }

  .lista-container button {
    font-size: 0.5rem; /* Texto ainda menor */
    padding: 0.04rem 0.3rem; /* Tamanho reduzido */
    margin-bottom: 5px;
    min-width: 10px; /* Garante que os botões tenham um tamanho mínimo */
  }
  
}
.td-nome input,
.td-fabricante input,
.td-origem input,
.td-embalagem input,
.td-moeda select,
.td-preco-dentro input,
.td-preco-fora input,
.td-ipi input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Tablets e smartphones (até 768px) */
@media (max-width: 768px) {
  .product-table-list {
    font-size: 0.3rem; /* Ajusta o tamanho do texto */
    overflow-x: auto; /* Permite scroll horizontal */
  }

  .product-table-list th,
  .product-table-list td {
    padding: 0.25rem; /* Reduz o espaçamento interno */
  }

  .description-table-list {
    font-size: 0.5rem;
    word-wrap: break-word;
  }

  .lista-container button {
    display: flex;
    flex-direction: row;
    font-size: 0.2rem; 
    padding: 0.3rem 0.35rem; /* Reduz o tamanho do botão */
  }
  .input-edit-select {
    width: 35px;
    font-size: 0.4rem;
  }
  
  .input-edit {
    width: 60%;
    font-size: 0.45rem;
    text-align: center;
  }
  
  .input-edit-ipi {
    width: 20%;
    margin: 0;
    font-size: 0.6rem;
    text-align: center;
    align-content: center;
  }
}


/* Smartphones muito pequenos (até 576px) */
@media (max-width: 576px) {
  .product-table-list {
    width: 80%;
  }

  input {
    width: 50%;
    font-size: 0.2rem;
  }

  select {
    font-size: 0.48rem;
  }

  .checkbox-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .input-edit-ipi {
    font-size: 8px;
    width: 10px;
  }

  button {
    display: flex;
    flex-direction: row;
    font-size: 0.2rem;
    padding: 0.2rem 0.4rem;
  }

  .product-table-list th,
  .product-table-list td {
    padding: 0.17rem; /* Reduz ainda mais o espaçamento */
  }

  .lista-container button {
    font-size: 0.5rem; /* Texto ainda menor */
    padding: 0.04rem 0.3rem; /* Tamanho reduzido */
    margin-bottom: 5px;
    min-width: 10px; /* Garante que os botões tenham um tamanho mínimo */
  }
}

