/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilo do container principal */
.container-Login {
max-width: 400px;
margin-top: 100px;
margin: 2rem auto;
padding: 2rem;
background-color: #f8f9fa;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title-Login {
text-align: center;
font-size: 3rem;
color: #2c3e50;
margin-bottom: 1.5rem;
font-size: 2rem;
}

.form-Login {
display: flex;
flex-direction: column;
 gap: 1rem;
}

.input-Login-User,
.input-Login-Password {
padding: 0.7rem;
border: 2px solid #e0e0e0;
border-radius: 5px;
font-size: 1rem;
transition: border-color 0.3s ease;
}

.input-Login-User:focus,
.input-Login-Password:focus {
    outline: none;
border-color: #007bff;
}

.btn-Submit,
.btn-Register {
padding: 0.8rem;
border: none;
border-radius: 5px;
font-size: 1rem;
cursor: pointer;
transition: background-color 0.3s ease;
text-align: center;
}
.btn-Submit {
background-color: #3498db;
color: #fff;
}
.btn-Submit:hover{
background-color: #2980b9;
}

.btn-Register{
color: #fff;
margin-top: 1px;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .toggle-switch {
    display: flex;
    width: 50px;
    height: 25px;
    border-radius: 12.5px;
    background-color: #e0e0e0;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-switch.on {
    background-color: #3498db;
  }
  
  .toggle-switch.off {
    background-color: #e74c3c;
  }
  
  .toggle-indicator {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }
  
  .toggle-switch.on .toggle-indicator {
    transform: translate(25px, -50%);
  }

.error-Login{
color: #dc3545;
font-size: 0.7rem;
margin-top: 10px;
text-align: center;
}
.text-Info-Login{
 font-size: 0.7rem;
 text-align: center;   
}
.text-Info-Login a{
color: #0bb90b;
text-decoration: none; /* remover o sublinhado da teg a */

}

.text-Info-Login a:hover {
text-decoration: underline; /* adiciona o sublinhado ao passar o mouse */
}
/*media queries para tela menor */
@media (max-width: 600px) {
    .container-Login {
      margin: 1rem;
      padding: 1.5rem;
    }
  
    .title-Login {
      font-size: 1.75rem;
    }
  
    .input-Login-User,
    .input-Login-Password,
    .btn-Submit,
    .btn-Register {
      font-size: 0.9rem;
    }
  }