:root {
  font-size: 16px; /* Tamanho base padrão */
}

.conversion-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.875rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 5rem;
  align-content: center;
}

h1 {
  text-align: center; /* Centraliza o título */
  font-size: 1.3rem; /* Tamanho padrão para o título */
  margin-bottom: 1rem; /* Espaçamento abaixo do título */
}

/* Controles da conversão */
.conversion-controls {
  display: flex;
 flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.conversion-title-h3 {
  font-size: 0.6rem;
  margin-bottom: 0;
  color: #555;
}
.warning-box {
  text-align: center;
  max-width: 300px; 
  padding: 5px;
  background-color: #ffe4b5; 
  color: #333; 
  border: 1px solid #ddd;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  line-height: 2.5;
  font-size: 10px;
  margin: 10px;
}


.conversion-input {
  padding: 0.3125rem;
  font-size: 0.6rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  width: 6rem;
  max-width: 15.625rem; /* 250px */
  text-align: center;
  margin-bottom: 20px;
}

.conversion-buttons {
  display: flex;
  gap: 0.625rem;
}

.btn {
  padding: 0.325rem 0.8rem;
  font-size: 0.6rem;
  color: white;
  border: none;
  border-radius: 0.25rem; /* 4px */
  cursor: pointer;
  transition: background-color 0.3s;
}

.convert-btn {
  background-color: #28a745;
  transform: translateY(-2px);
}

.clean-btn {
  background-color: #dc3545;
  transform: translateY(-2px);
}

.btn:hover {
  opacity: 0.9;
}

/* Mensagens */
.error-message {
  color: #ddd;
  font-size: 0.9rem;
}

.rate-info {
  font-size: 1rem;
  color: #333;
}

/* Tabela de produtos convertidos */
.product-table {
  width: 80%;
  border-collapse: collapse;
  background-color: white;
}

.product-table th,
.product-table td {
  border: 0.0425rem solid #ddd; /* 1px */
  padding: 0.425rem; /* 10px */
  padding: 10px;
  text-align: center;
  font-size: 0.6rem;
}

.product-table th {
  background-color: #4e59ec;
  border-radius: 0.1rem;
  color: white;
  font-weight: bold;
  z-index: 2; /* Mantém os títulos acima dos dados */
}

.product-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Títulos */
.converted-title {
  font-size: 1rem;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

/* Responsividade */

@media (max-width: 768px) {
  .conversion-title,
  .converted-title {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  .conversion-input {
    max-width: 100%;
  }

  .product-table th,
  .product-table td {
    font-size: 0.8rem;
    padding: 8px;
  }
  .conversion-container{
    justify-content: center;
    align-items: center;
    align-content: center;

  }
}

@media (max-width: 576px) {
  .conversion-title,
  .converted-title {
    font-size: 1.2rem;

  }

  .btn {
    font-size: 0.5rem;
    padding: 5px 10px;
  }

  .conversion-controls {
    flex-direction: column;
    gap: 10px;
  }

  .product-table th,
  .product-table td {
    font-size: 0.5rem;
    padding: 0.5rem;
  }
}
