/* Footer */
.footer {
  display: absolute;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4e59ec;
  color: white;
  padding: 0.4rem 0;
  z-index: 10;
}

/* Texto do footer */
.footer p {
  margin: 0; /* Remove margens padrão */
  font-size: 1.5rem;
}

/* Links dos ícones */
.footer a {
  display: flexbox;
  flex-direction: row;
  text-decoration: none;
  margin: 0;
  padding: 0;
  align-items: center;

  margin-left: 1rem; /* Espaço entre texto e ícones */
  color: white;
  font-size: 1.5rem;
  transition: transform 0.3s ease; /* Animação ao passar o mouse */
}

.footer a:hover {
  transform: scale(1.2); /* aumenta o ícone ao passar o mouse */
  color: #f0f0f0;
}

/* Responsividade para telas menores */
@media (min-width: 360px) and (max-width: 576px) {
  .footer {
    display: flex;
    position: relative;
    font-size: 0.05rem;
    flex-direction: row; /* Coloca itens em coluna para telas pequenas */
    text-align: center; /* Centraliza o texto */
    justify-content: center;
  }
  .footer p {
    font-size: 1rem;
    margin-right: 10px;
    padding: auto;
  }

  .footer a {
    margin-left: 0.1rem; /* Remove margens laterais */
    margin-top: 0.3rem; /* Adiciona espaço entre os ícones verticalmente */
    font-size: 1rem;
  }
}
