/* Estilo Geral da Tabela */
.product-table {
  width: 100%; /* Ocupa todo o espaço disponível */
  border-collapse: collapse; /* Remove os espaços entre as bordas */
  font-size: 0.8em; /* Texto ajustável */
  background-color: #f9f9f9;
  margin: 0 auto; /* Centraliza a tabela */
  table-layout: auto; /* Ajusta o tamanho das colunas automaticamente */
}
h1 {
  text-align: center;
}

/* Estilo para Células e Títulos */
.product-table th,
.product-table td {
  border: 1px solid #ddd; /* Borda sutil */
  padding: 5px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto horizontalmente */
  vertical-align: middle; /* Centraliza o texto verticalmente */
  word-wrap: break-word; /* Quebra palavras longas */
}


/* Estilo para Títulos */
.product-table th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  z-index: 2; /* Mantém os títulos acima dos dados */
}

/* Estilo para Linhas */
.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table tr:hover {
  background-color: #ddd;
}

/* Estilo para Botões */
button {
  font-size: 0.9em;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:first-child {
  background-color: #2196f3;
  color: white;
}

button:last-child {
  background-color: #f44336;
  color: white;
}

button:hover {
  filter: brightness(90%);
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .product-table {
    display: block;
    font-size: 0.9rem;
    overflow-x: auto;
    white-space: nowrap;
  }
   .product-table th,
  .product-table td {
    padding: 9px;
    text-align: center;
  }
  /*
  button {
    font-size: 0.8em;
    padding: 5px 6px;
  }
  */
}
@media (max-width: 600px) {
  .product-table {
    display: flex;
    flex-direction: column; /* Exibe os itens em coluna */
  }

  .product-table thead {
    display: none; /* Esconde os cabeçalhos */
  }

  .product-table tr {
    display: flex;
    flex-direction: column; /* Cada linha vira uma "caixa" */
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  .product-table td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .product-table td::before {
    content: attr(data-label); /* Adiciona rótulos às células */
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    color: #4CAF50;
  }
}