/* Estilo Geral da Tabela */
.product-table-list{
  width: 95%; /* Ocupa todo o espaço disponível */
  border-collapse: collapse; /* Remove os espaços entre as bordas */
  font-size: 0.8em; /* Texto ajustável */
  background-color: #f9f9f9;
  margin: 0 auto; /* Centraliza a tabela */
  table-layout: auto; /* Ajusta o tamanho das colunas automaticamente */
}
h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Estilo para Células e Títulos */
.product-table-list th,
.product-table-list td {
  border: 0.0625rem solid #ddd; /* Borda sutil */
  padding: 0.625rem; /* Espaçamento interno */
  text-align: center;
  vertical-align: middle; /* Centraliza o texto verticalmente */
  word-wrap: break-word; /* Quebra palavras longas */
}

/* Estilo para Títulos */
.product-table-list th {
  background-color: #4e59ec;
  color: white;
  font-weight: bold;
}

/* Estilo para Linhas */
.product-table-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table-list tr:hover {
  background-color: #ddd;
}

/* Estilo para Botões */
.lista-container button {
  font-size: 0.9em;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lista-container button:first-child {
  background-color: #2196f3;
  color: rgb(44, 6, 6);
}

.lista-container button:last-child {
  background-color: #db1d10;
  color: white;
}

.lista-container button:hover {
  filter: brightness(90%);
}
.lista-container input {
  width: 80%;
  height: 1.25rem;
  text-align: center;
}
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.3125rem; /* Espaço entre checkbox e texto */
  font-size: 1rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .product-table-list {
    display: flex;
    flex-direction: column;
  }

  .product-table-list thead {
    display: none; /* Esconde os cabeçalhos */
  }

  .product-table-list tr {
    display: flex;
    flex-direction: column;
    border-bottom: 0.0625rem solid #ddd;
    margin-bottom: 0.625rem;
  }

  .product-table-list td {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
    border: none;
    border-bottom: 0.0625rem solid #ddd;
  }

  .product-table-list td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 0.625rem;
    color: #133f14;
  }

  .lista-container input {
    width: 7rem;
    height: 1.25rem;
    text-align: center;
    border-radius: 0.375rem;
  }
}

@media (max-width: 600px) {
  .product-table-list td::before {
    font-size: 0.9rem; /* Ajusta o tamanho do texto do rótulo */
  }
}